<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home Page</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <% blogs.forEach(blog => { %>
          <div class="col">
            <div class="card h-100 shadow-sm" style="min-height: 350px;">
              <img src="<%= blog.coverImageURL || '/images/default.jpg' %>" 
                   class="card-img-top" 
                   style="height: 180px; object-fit: cover;" 
                   alt="Cover image">
              
              <div class="card-body p-3 d-flex flex-column justify-content-between">
                <div>
                  <h5 class="card-title mb-2" style="font-size: 1.1rem;"><%= blog.title %></h5>
                  <p class="card-text" style="font-size: 0.9rem;"><%= blog.body.substring(0, 100) %>...</p>
                </div>
                <a href="/blog/<%= blog._id %>" class="btn btn-sm btn-primary mt-2">Read More</a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>    

    <%- include('./partials/scripts') %>
</body>
</html>
